
h1{
    color:#d44c4c;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    color:green;
    font-weight: bold;
}
p{
    color:darkmagenta;
    
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
body{
    background-color: aquamarine;
}